body {
  font-family: sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

#chart {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
